
.combat-logs-box {
  border: grey 1px solid;
  display: flex;
  flex-grow: 1;
  overflow: auto;
  flex-direction: column;
  height: 125px;
}

.combat-log-message {
  font-family: Roboto;
  font-size: 14px;
}

.combat-log-message.damage {
  color: red;
}
.combat-log-message.heal {
  color: green;
}
.combat-log-message.status {
  color: blue;
}